<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco.</p>
                <p>An About page is a special web page on a site where your readers/visitors learn more about you and
                    what
                    you
                    do. This is not a contact us page. Writing this page isn’t the easiest thing to master, but it’s
                    possible
                    once you understand the essential elements that must be included.</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

    </html>